footer {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    justify-content: space-around;
    background-color: $color-primary;
    padding-top: 15px;
    @include mobile-m {
        flex-direction: column;
        text-align: center;
    }
    @include mobile-l {
        flex-direction: column;
        text-align: center;
    }
    & h2 {
        margin-block-start: 0px;
    }
    & ul {
        padding-left: 0px;
        list-style-type: none;
        & > li {
            list-style-type: none;
            & > a {
                color: white;
            }
        }
    }
}


