.header {
    display: flex;
    flex-direction: row;
    &__return {
        cursor: pointer;
        @include button(20px);
        @include screen {
            width: 40px;
        }
        background-image: url("../icons/arrow-left-solid.svg");
        @include mobile-m {
            margin: 5px;
        }
        @include mobile-xs {
            margin: 7px;
        }
    }
    &__home {
        @include button();
        background-image: url("../icons/home-solid.svg");
        @include screen {
            width: 70px;
        }
        @include mobile-m {
            margin: 25px;
        }
        @include mobile-xs {
            margin: 10px;
        }
    }
    &__title {
        width: 605px;
        font-size: 5rem;
        margin: 15px auto;
        text-align: center;
        color: navajowhite;
        font-family: "belligerent", cursive;
        text-shadow: 0px 0px 5px $color-primary;
        @include screen {
            font-size: 7rem;
        }
        @include mobile-m {
            width: 170px;
            font-size: 2.5rem;
            margin: 15px auto;
        }
        @include mobile-xs {
            width: 280px;
            font-size: 2rem;
            margin: 11px auto;
        }
    }
    &__cart {
        @include button();
        background-image: url("../icons/shopping-cart-solid.svg");
        @include screen {
            width: 70px;
        }
        @include mobile-m {
            margin: 25px;
        }
        @include mobile-xs {
            margin: 10px;
        }
    }
}