@font-face {
  font-family: "belligerent";
  src: url("../font/belligerent-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
}
.header__return {
  cursor: pointer;
  width: 20px;
  margin: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/arrow-left-solid.svg");
}
.header__home {
  width: 35px;
  margin: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/home-solid.svg");
}
.header__title {
  width: 605px;
  font-size: 5rem;
  margin: 15px auto;
  text-align: center;
  color: navajowhite;
  font-family: "belligerent", cursive;
  text-shadow: 0px 0px 5px peru;
}
.header__cart {
  width: 35px;
  margin: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/shopping-cart-solid.svg");
}

.products {
  display: grid;
  padding: 30px 0px 170px;
  grid-template-columns: repeat(3, 0fr);
  justify-content: space-around;
  margin: auto;
}
.products__title {
  text-align: center;
  font-family: cursive;
  color: peru;
}
.products h3 {
  font-size: 1em;
}
.products__picture {
  width: 100%;
}
.products__link {
  margin: 15px;
  width: 400px;
  color: black;
  transition: transform 0.2s;
  border: 2px dashed peru;
  padding: 40px;
  background-color: navajowhite;
}
.products__link:hover {
  transform: scale(1.1);
}
.products__price {
  margin-top: 30px;
}

.product {
  padding: 30px 70px 40px;
  display: flex;
  justify-content: space-evenly;
}
.product__picture {
  width: 45%;
}
.product__name {
  font-family: cursive;
  color: peru;
  text-align: center;
  font-size: 2.5rem;
  margin-block-start: 0px;
  margin-bottom: 50px;
}
.product__colors {
  width: 250px;
  display: flex;
  margin: 40px 0px;
  justify-content: space-between;
}
.product__colorLabel h3 {
  margin-block: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: space-around;
}

.table {
  border-collapse: collapse;
  background-color: navajowhite;
}
.table__head {
  font-size: 1.1em;
}
.table th, .table td {
  width: 200px;
  border: 2px solid peru;
  text-align: center;
}
.table__delete {
  cursor: pointer;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/trash-alt-solid.svg");
}
.table__order {
  width: 100%;
  cursor: pointer;
}

.form {
  width: 30%;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  padding: 25px 25px 25px;
  border: 2px solid peru;
  background-color: navajowhite;
}
.form input {
  margin-bottom: 10px;
  border: 1px solid peru;
  outline-color: peru;
}
.form input[type=submit] {
  cursor: pointer;
  margin: 15px 0px 0px;
}

/*main {
    text-align: center;
}
.table {
    width: 80%;
    margin: auto;
}*/
footer {
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  justify-content: space-around;
  background-color: peru;
  padding-top: 15px;
}
footer h2 {
  margin-block-start: 0px;
}
footer ul {
  padding-left: 0px;
  list-style-type: none;
}
footer ul > li {
  list-style-type: none;
}
footer ul > li > a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
