.main {
    display: flex;
    flex-direction: row;
    margin: 35px auto;
    justify-content: space-around;
}

.table {
    border-collapse: collapse;
    & th, td {
        width: 200px;
        border: 1px solid;
        text-align: center;
        border-color :peru;
    }
    &__delete {
        @include button();
        background-image: url("../icons/trash-alt-solid.svg");
    }
    &__order {
        width: 100%;
    }
}

.form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 25px 25px 25px;
    border: 1px solid;
    border-color :peru;
    & input {
        margin-bottom: 10px;
    }
    & input[type=submit] {
        margin: 15px 0px 0px;
    }
}